<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="orb.slam2.android">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--uses-feature
        android:name="android.hardware.camera2.autofocus"
        android:required="false" /-->
    <!--uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" /-->
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera.front.autofocus"-->
        <!--android:required="false" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:fullBackupContent="@xml/backup_descriptor"
        android:extractNativeLibs="false">
        <activity
            android:name="orb.slam2.android.MainActivity"
            android:label="CameraMode"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="orb.slam2.android.TestModeActivity"
            android:label="TestMode"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name="orb.slam2.android.FileChooserActivity"
            android:label="ChooseDirectory"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name="orb.slam2.android.ORBSLAMForTestActivity"
            android:label="ORB_SLAM2"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
    </application>

</manifest>